<li class="{{current}}" data-prod-id="{{id}}">
	<a href="{{link}}#products-nav" class="prod-nav-item" data-prod-name="{{name}}" data-prod-id="{{id}}" data-pos="{{pos}}">
		<img class="prod-img" data-lazy="{{image}}" />
	</a>
</li>